<div class="container mx">

  <form method="post" class="row g-3" enctype="multipart/form-data">
    <div class="input-group">
      <input
        type="file"
        class="form-control"
        id="inputGroupFile04"
        name="avatar"
        aria-describedby="inputGroupFileAddon04"
        aria-label="Upload"
        required
      />
      <button
        class="btn btn-dark"
        type="submit"
        id="inputGroupFileAddon04"
      >Agregar imagen</button>
    </div>
  </form>
</div>