* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d4d4d4' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

nav {
    background-color: aquamarine;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    list-style: none;
    padding: 2px 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.tceldas {
    display: flex;
    flex-direction: column;
}

#room {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 15px;
}

p {
    background-color: azure;
    border-radius: 5px;
    padding: 2px 15px;
}

p strong {
    color: blue;
}

.bubble {
    background-color: rgb(96, 201, 139);
    font-style: italic;
    border-radius: 5px;
    padding: 2px 15px;
}


#addSpan {
    display: none;
    
}